// typo
@arial: 'Arial';
.maj {text-transform:uppercase;}
.nomaj {text-transform:none;}

// width
@width: 960px;

// blocks
.clear {clear:both;}
.clearfloat100 {
    clear:both;
    float:left;
    width:100%;
}
.fleft {float:left;}
.fright {float:right;}
.dib {display:inline-block;}
.db {display:block;}
.valigntop {vertical-align:top;}
.relative {position:relative;}
.absolute {position:absolute;}

// functions
.size(@size) {
    font-size:@size;
}
.radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.font(@typo) {
    font-family:@typo;
}
.deco(@deco) {
    text-decoration:@deco;
}
.mw(@width) {
    max-width:@width;
}