@import "reset.less";
@import "lib.less";


/* ----- STRUCTURE ----- */
.container {
	width:@width; 
	margin: 0 auto;
}
.header {
    .clearfloat100;
    margin-bottom:2em;
    border:1px solid @gris;
}
.site {
    .clearfloat100;
}
.sidebar {
    .clearfloat;
    width:20%;
    border:1px solid @gris;
}
.content {
    .floatl;
    width:75%;
    border:1px solid @gris;
    margin-left:5%;
}
.footer {
    .clearfloat100;
    margin-top:2em;
    border:1px solid @gris;
}